{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
  {% if artist is null %}
    <div class="alert alert-warning" role="alert">
      Vous n'avez pas encore défini l'artiste. Vous pouvez le faire sur ce <a href="/artist/new">formulaire</a>.
    </div>
  {% else %}
    <p class="lead">
      <img
        class="img-fluid float-start rounded shadow me-3"
        src="{{ artist.illustrationURL }}"
        alt="{{ artist.name }} profile picture"
        style="max-width: 20rem;"
      >
      {{ artist.description|nl2br }}
    </p>
  {% endif %}
{% endblock %}
