{% extends "base.html.twig" %}

{% block body %}
  <h1>Mettre à jour un album</h1>

  <form
    action="{{ path('edit_album', {id: album.id}) }}"
    method="post"
    class="mx-auto"
    style="max-width: 30rem;"
  >
    <div class="mb-3">
      <label for="title">Titre</label>
      <input
        type="text"
        value="{{ album.title|default('') }}"
        name="title"
        id="title"
        class="form-control"
        placeholder="Titre"
      >
    </div>
    <div class="mb-3">
      <label for="illustrationURL">Illustration</label>
      <input
        type="text"
        value="{{ album.illustrationURL|default('') }}"
        name="illustrationURL"
        id="illustrationURL"
        class="form-control"
        placeholder="URL de l'illustration"
      >
    </div>
    <div class="mb-3">
      <label for="releaseDate">Date de sortie</label>
      <input
        type="date"
        value="{{ album.releaseDate|default('now')|date("Y-m-d") }}"
        name="releaseDate"
        id="releaseDate"
        class="form-control"
        placeholder="URL de l'illustration"
      >
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-save"></i>
        Mettre à jour
      </button>
    </div>
  </form>
{% endblock body %}